<!-- <figure class="card card-product">
  <div class="img-wrap">
    <img class="card-img-top" [src]="meals.imageUrl" alt="">
  </div>
  <figcaption class="info-wrap">
    <h5 class="title text-dots">{{ meals.description }}</h5>
  </figcaption>
</figure>
<h5>{{ meals.ingredients }}</h5> -->

<section class="meal-section">
    <div class="meal-img"
    [style.backgroundImage]="'url(' + meals.imageUrl + ')'">
    </div>
</section>

<section class="event-info-section">
  <div class="container max-w-820">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="blue">{{ meals.name }}</h1>
        <h4>{{ meals.description }}</h4>
      </div>
    </div>
  </div>
</section>

<h1 class="mt-4"><strong>Ingredients</strong></h1>

<div class="container-fluid" style="margin-bottom: 50px;">
  <div class="row">
    <ng-container *ngFor="let in of filteredIngredients; let i = index">
      <div class="col-md-3">
        <ingredient-card [ingredient]="in" [shopping-cart]="cart"></ingredient-card>
      </div>
      <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>
