/* start presentation sec */
.presentation {
  padding-top: 50px;
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
  padding-left: 0px;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}

.small-circle {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: -1;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }

  .introduction {
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 30px;
  }

  .intro-text p {
    font-size: 18px;
  }

  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }

  .cover img {
    height: 80%;
  }

  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
  }
}

/* end presentation sec */

.img-zoom {
  display: block;
}

.img-zoom img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-zoom:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}

.card .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.text-success {
  color: #2e7d32 !important;
}
