<mat-card class="admin-card">
  <mat-card-content>
    <div class="search-div">
      <button mat-raised-button routerLink="/admin/ingredients/new">
        <mat-icon>add</mat-icon>Create
      </button>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" #query
          (keyup)="filter(query.value)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="imageUrl">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
          <mat-cell *matCellDef="let ingredient">
            <div [style.backgroundImage]="'url(' + ingredient.imageUrl + ')'" class="thumbnail"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
          <mat-cell *matCellDef="let ingredient">{{ingredient.title}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="meal">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Meal</mat-header-cell>
          <mat-cell *matCellDef="let ingredient">{{ingredient.meal}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
          <mat-cell *matCellDef="let ingredient">{{ingredient.price}} Ks</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let ingredient">
            <!-- <a [routerLink]="['/admin/ingredients/', ingredient.id]"><mat-icon>launch</mat-icon></a> -->
            <button mat-icon-button [routerLink]="['/admin/ingredients/', ingredient.id]">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(ingredient.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
