<h6><strong>Admin</strong></h6>
<div class="list-group">
  <a routerLink="/admin/orders" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-calendar-check mr-3"></i>Orders Management
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a routerLink="/admin/meals" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-tags mr-3"></i>Meal Management
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a routerLink="/admin/ingredients" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-tags mr-3"></i>Ingredients Management
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a (click)="logout()" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-sign-out-alt mr-3"></i>Logout
    <i class="fas fa-chevron-right float-right"></i>
  </a>
</div>