<h6><strong>Admin</strong></h6>
<div class="list-group">
  <!-- <a routerLink="/admin/orders" class="list-group-item disabled list-group-item-action d-flex justify-content-between align-items-center">
    Manage Orders
      <i class="fas fa-chevron-right"></i>
  </a> -->
  <a routerLink="/admin/orders" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-bomb mr-3"></i>Manage Orders
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a routerLink="/admin/ingredients" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-bomb mr-3"></i>Manage Ingredients
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a routerLink="/admin/meals" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-bomb mr-3"></i>Manage Meal
    <i class="fas fa-chevron-right float-right"></i>
  </a>
  <a (click)="logout()" class="list-group-item list-group-item-action list-group-item-light">
    <div class="md-v-line"></div><i class="fas fa-bomb mr-3"></i>Logout
    <i class="fas fa-chevron-right float-right"></i>
  </a>
</div>