<div class="top"></div>
<div class="text-center"><h2>အကူအညီများ</h2></div>
<div class="middle">
  <div class="container">
    <div class="row">
      <a href="tel:09673420268" style="width:100%;text-decoration:none;" class="text-dark">
        <div class="shadow p-2 bg-white rounded m-2">
          <h3 class="text-success">#1 Customer Service</h3>
          09452337697
        </div>
      </a>
    </div>
    <div class="row">
      <a href="tel:09449001261" style="width:100%;text-decoration:none;" class="text-dark">
        <div class="shadow p-2 bg-white rounded m-2">
          <h3 class="text-success">#2 Customer Service</h3>
          09761867358
        </div>
      </a>
    </div>
    <div class="row">
      <a href="tel:0979510057" style="width:100%;text-decoration:none;" class="text-dark">
        <div class="shadow p-2 bg-white rounded m-2">
          <h3 class="text-success">Business Enquiry</h3>
          09760361585
        </div>
      </a>
    </div>
    <div class="row">
      <a href="mailto:info@newhope.com" style="width:100%;text-decoration:none;" class="text-dark">
        <div class="shadow p-2 bg-white rounded m-2">
          <h3 class="text-success">Email (အီးမေးလ်)</h3>
          info@newhope.com
        </div>
      </a>
    </div>
  </div>
</div>
