/* meal section */
/* .section-meals{
	padding:0;
}


.meals-showcase{
	list-style-type: none;
	width:100%;
}
.meals-showcase li{
	width:25%;
	float:left;
	display: block;
}
.meal-photo {
	width:100%;
	margin:0;
	overflow: hidden;
	background-color: #000;
}
.meal-photo img{
	width:100%;
	height:auto;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
	transition: opacity 0.5s,-webkit-transform 0.5s;
	transition: transform 0.5s,opacity 0.5s;
	transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s;
	opacity: 0.7;
}
.meal-photo img:hover{
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	opacity: 1;
} */
/* end meal section */

h6 {
  font-size: 1rem;
}