<!-- <section class="section-meals">
  <ul class="meals-showcase clear-fix">
    <li>
      <a href="https://www.google.com">
        <figure class="meal-photo">
          <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Korean bibimbap with egg and vegetables">
        </figure>
      </a>

    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Simple italian pizza with cherry tomatoes">
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Chicken breast steak with vegetables">
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Autumn pumpkin soup">
      </figure>
    </li>
  </ul>
  <ul class="meals-showcase clear-fix">
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Paleo beef steak with vegetables">
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Healthy baguette with egg and vegetables">
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Burger with cheddar and bacon">
      </figure>
    </li>
    <li>
      <figure class="meal-photo">
        <img src="https://i.insider.com/5db0be30dee019106d59e828?width=1100&format=jpeg&auto=webp" alt="Granola with cherries and strawberries">
      </figure>
    </li>
  </ul>
</section> -->

<a href="tel:09761867358">Hein Min Htet</a>

<h6><strong>Admin</strong></h6>
<div class="list-group">
  <a routerLink="/admin/orders" class="list-group-item disabled list-group-item-action d-flex justify-content-between align-items-center">
    Manage Orders
      <i class="fas fa-chevron-right"></i>
  </a>
  <a routerLink="/admin/orders" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Manage Orders
      <i class="fas fa-chevron-right"></i>
  </a>
  <a routerLink="/admin/ingredients" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Manage Ingredients
      <i class="fas fa-chevron-right"></i>
  </a>
  <a routerLink="/admin/meals" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Manage Meals
      <i class="fas fa-chevron-right"></i>
  </a>
</div>
