/* .example-card {
  max-width: 100%;
  margin-bottom: 50px;
}

.full-width {
  width: 100%;
}

.example-header-image {
  background-size: cover;
}

.mat-table {
  box-shadow: none;
  width: 100%;
}

.product-listing-image {
  height: 12em;
  width: 12em;
  background-position: -25px -20px;
  border-radius: 30px;
  background-size: cover;
}

@media all and (max-width: 699px) {
  .product-listing-image {
    height: 9em;
    width: 7em;
  }
} */

.img-zoom {
  display: block;
}

.img-zoom img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.img-zoom:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}

.card .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h6 {
  font-size: 1rem;
}

.text-success {
  color: #2e7d32 !important;
}

