 <!-- <div *ngFor="let m of meals$ | async; let i = index" class="card mb-3" style="max-width: 540px;">
   <div class="row no-gutters">
     <div class="col-md-4">
       <img [src]="m.imageUrl" alt="{{ m.name }}" class="card-img">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">{{ m.name }}</h5>
         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
           content. This content is a little bit longer.</p>
         <a routerLink="/products" [queryParams]="{ meal: m.id }">
           View More</a>
       </div>
     </div>
   </div>
 </div> -->


 <div class="row">
   <div class="col-sm-12 col-md-4" *ngFor="let m of meals$ | async;">
     <a class="img-zoom" tabindex="-1" [routerLink]="['/meals/', m.id]" [queryParams]="{ meal: m.name }">
       <div class="card shadow mt-4 mb-4">
         <div class="img-wrap">
           <img [src]="m.imageUrl" alt="{{ m.name }}" class="card-img-top">
         </div>
         <div class="card-body text-decoration-none">
           <h6 class="card-text text-dark pt-1 pb-2 text-decoration-none"><strong>{{ m.name }}</strong></h6>
           <h6 class="card-text text-success pb-1">Meat: {{ m.meat }}</h6>
         </div>
       </div>
     </a>
   </div>
 </div>

 <!-- <div class="row">
   <a href="/web/view?id=53" class="col-sm-12 col-md-6">
     <div class="card shadow mt-4 mb-4">
       <img src="https://i.ibb.co/6yLzRTN/image.png" class="card-img-top">
       <div class="card-body text-decoration-none">
         <h6 class="card-text text-dark pt-1 pb-2 text-decoration-none"><strong>&#8203;COVID-19 ရောဂါ
             စောင့်ကြပ်ကြည့်ရှုမှုနှင့်ပတ်သက်၍ သတင်းထုတ်ပြန်ခြင်း (၁၄-၄-၂၀၂၀) ရက်နေ့၊ ည (၈:၀၀) နာရီ</strong></h6>
         <h6 class="card-text text-success pb-1">ကျန်းမာရေးနှင့်အားကစားဝန်ကြီးဌာန</h6>
       </div>
     </div>
   </a>
   <a href="/web/view?id=52" class="col-sm-12 col-md-6">
     <div class="card shadow mt-4 mb-4">
       <img
         src="https://www.mohs.gov.mm/ckfinder/connector?command=Proxy&amp;lang=en&amp;type=Main&amp;currentFolder=%2FNews%2FNews_2020%2FApril_2020(A)%2F&amp;hash=a6a1c319429b7abc0a8e21dc137ab33930842cf5&amp;fileName=14.4.20_4-00pm.jpg"
         class="card-img-top">
       <div class="card-body text-decoration-none">
         <h6 class="card-text text-dark pt-1 pb-2 text-decoration-none"><strong>COVID-19 ရောဂါ
             စောင့်ကြပ်ကြည့်ရှုမှုနှင့်ပတ်သက်၍ သတင်းထုတ်ပြန်ခြင်း (14-4-2020, 4:00 PM)</strong></h6>
         <h6 class="card-text text-success pb-1">ကျန်းမာရေးနှင့်အားကစားဝန်ကြီးဌာန</h6>
       </div>
     </div>
   </a>
 </div> -->
