 <!-- <div *ngFor="let m of meals$ | async; let i = index" class="card mb-3" style="max-width: 540px;">
   <div class="row no-gutters">
     <div class="col-md-4">
       <img [src]="m.imageUrl" alt="{{ m.name }}" class="card-img">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">{{ m.name }}</h5>
         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
           content. This content is a little bit longer.</p>
         <a routerLink="/products" [queryParams]="{ meal: m.id }">
           View More</a>
       </div>
     </div>
   </div>
 </div> -->


 <section class="presentation">
   <div class="introduction">
     <div class="intro-text">
       <h1>COOK WITH US</h1>
       <p>
         Goodbye Junk Food.
         Hello Super Healthy Meals.
         <!-- GOODBYE JUNK FOOD.
           HELLO SUPER HEALTHY MEALS. -->
       </p>
     </div>
   </div>
   <div class="cover">
     <img src="https://i.imgur.com/bysQXLz.png?1" alt="cook-with-us" />
   </div>
 </section>

 <img class="big-circle" src="assets/img/big-eclipse.svg" alt="" />
 <img class="medium-circle" src="assets/img/mid-eclipse.svg" alt="" />
 <img class="small-circle" src="assets/img/small-eclipse.svg" alt="" />

 <div class="row">
   <div class="col-sm-12 col-md-4" *ngFor="let m of meals$ | async;">
     <a class="img-zoom" tabindex="-1" [routerLink]="['/meals/', m.id]" [queryParams]="{ meal: m.name }">
       <div class="card shadow mt-4 mb-4">
         <div class="img-wrap">
           <img [src]="m.imageUrl" alt="{{ m.name }}" class="card-img-top">
         </div>
         <div class="card-body text-decoration-none">
           <h2 class="card-text text-dark pt-1 pb-2 text-decoration-none"><strong>{{ m.name }}</strong></h2>
           <h3 class="card-text text-success pb-1">အသားအမျိုးအစား &mdash; {{ m.meat }}</h3>
         </div>
       </div>
     </a>
   </div>
 </div>
