<!-- <p>{{ order.items[1].product.title }}</p>
<p>{{ order.items[1].product.title }}</p>
<p>{{ order.items[0].product.title }}</p> -->

<!-- <td>{{ order.items[0].product.title }}</td>
<td>{{ order.items[1].totalPrice }}</td> -->
<p><strong>ဝယ်သူအမည်</strong> &mdash; {{ order.shipping.name }}</p>
<p><strong>ဝယ်သူနေရပ်လိပ်စာ</strong> &mdash; {{ order.shipping.address }},{{order.shipping.city}}</p>
<table class="table">
  <thead>
    <tr>
      <th>စဉ်</th>
      <th>ပစ္စည်းအမည်</th>
      <th class="text-center">နှုန်း</th>
      <th class="text-center">အရေအတွက်</th>
      <th class="text-center">စျေးနှုန်း</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>၁။</td>
      <td>{{ order.items[0].product.title }}</td>
      <td class="text-center">{{ order.items[0].product.price }} Ks</td>
      <td class="text-center">{{ order.items[0].quantity }}</td>
      <td class="text-center">{{ order.items[0].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၂။</td>
      <td>{{ order.items[1].product.title }}</td>
      <td class="text-center">{{ order.items[1].product.price }} Ks</td>
      <td class="text-center">{{ order.items[1].quantity }}</td>
      <td class="text-center">{{ order.items[1].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၃။</td>
      <td>{{ order.items[2].product.title }}</td>
      <td class="text-center">{{ order.items[2].product.price }} Ks</td>
      <td class="text-center">{{ order.items[2].quantity }}</td>
      <td class="text-center">{{ order.items[2].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၄။</td>
      <td>{{ order.items[3].product.title }}</td>
      <td class="text-center">{{ order.items[3].product.price }} Ks</td>
      <td class="text-center">{{ order.items[3].quantity }}</td>
      <td class="text-center">{{ order.items[3].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၅။</td>
      <td>{{ order.items[4].product.title }}</td>
      <td class="text-center">{{ order.items[4].product.price }} Ks</td>
      <td class="text-center">{{ order.items[4].quantity }}</td>
      <td class="text-center">{{ order.items[4].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၆။</td>
      <td>{{ order.items[5].product.title }}</td>
      <td class="text-center">{{ order.items[5].product.price }} Ks</td>
      <td class="text-center">{{ order.items[5].quantity }}</td>
      <td class="text-center">{{ order.items[5].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၇။</td>
      <td>{{ order.items[6].product.title }}</td>
      <td class="text-center">{{ order.items[6].product.price }} Ks</td>
      <td class="text-center">{{ order.items[6].quantity }}</td>
      <td class="text-center">{{ order.items[6].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၈။</td>
      <td>{{ order.items[7].product.title }}</td>
      <td class="text-center">{{ order.items[7].product.price }} Ks</td>
      <td class="text-center">{{ order.items[7].quantity }}</td>
      <td class="text-center">{{ order.items[7].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၉။</td>
      <td>{{ order.items[8].product.title }}</td>
      <td class="text-center">{{ order.items[8].product.price }} Ks</td>
      <td class="text-center">{{ order.items[8].quantity }}</td>
      <td class="text-center">{{ order.items[8].totalPrice }} Ks</td>
    </tr>
    <tr>
      <td>၁၀။</td>
      <td>{{ order.items[9].product.title }}</td>
      <td class="text-center">{{ order.items[9].product.price }} Ks</td>
      <td class="text-center">{{ order.items[9].quantity }}</td>
      <td class="text-center">{{ order.items[9].totalPrice }} Ks</td>
    </tr>
  </tbody>
</table>
