<div class="row">
  <div class="col">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="category.name" name="name" id="name" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="name.invalid && (name.touched || name.dirty)">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="mealType">Meal Type</label>
        <select #mealType="ngModel" [(ngModel)]="category.mealType" name="category" id="category" class="form-control"
          required>
          <option value=""></option>
          <option value="">Chincken</option>
          <option value="">Beef</option>
          <option value="">Pork</option>
        </select>
        <div class="alert alert-danger" *ngIf="mealType.invalid && (mealType.touched || mealType.dirty)">
          mealType is required!
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" [(ngModel)]="category.imageUrl" name="imageUrl" id="imageUrl" type="file"
          accept="image/*" class="form-control" (change)="showPreview($event)">
      </div>
      <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
      <button class="btn btn-danger ml-3" type="button" (click)="delete()" [disabled]="f.invalid">Delete</button>
    </form>
  </div>
</div>
