<form #f="ngForm">
  <div class="form-group">
    <label for="">Name (အမည်)</label>
    <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control"
      required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">Name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Phone Number (ဖုန်း)</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">+95</span>
      </div>
      <input #phNumber="ngModel" name="phNumber" [(ngModel)]="shipping.phNumber" type="text" class="form-control"
      required>
    </div>
    <div class="alert alert-danger" *ngIf="phNumber.touched && phNumber.invalid">
      <div *ngIf="phNumber.errors.required">Phone Number is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Address (နေရပ်လိပ်စာ)</label>
    <input #address="ngModel" name="address" [(ngModel)]="shipping.address" type="text" class="form-control"
      required>
    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
      <div *ngIf="address.errors.required">Address is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">City (မြို့)</label>
    <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
      <div *ngIf="city.errors.required">City is required.</div>
    </div>
  </div>
  <button [disabled]="!f.valid" (click)="placeOrder()" style="border-radius: 10px;" class="btn btn-success btn-lg">အော်ဒါမှာမည်</button>
</form>
