<div class="text-center"><h2>Ingredient Form</h2></div>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label for="title">Name(အမည်)</label>
            <input #title="ngModel" [(ngModel)]="ingredient.title" name="title" id="title" type="text"
              class="form-control" required>
            <div class="alert alert-danger" *ngIf="title.invalid && (title.touched || title.dirty)">
              Name is required!
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price(စျေးနှုန်း)</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ks</span>
              </div>
              <input #price="ngModel" [(ngModel)]="ingredient.price" name="price" id="price" type="number"
                class="form-control" required [min]="0">
            </div>
            <div class="alert alert-danger" *ngIf="price.invalid && (price.touched || price.dirty)">
              <div *ngIf="price.errors.required">Price is required!</div>
              <div *ngIf="price.errors?.min">Price should be higher than 0</div>
            </div>
          </div>
          <div class="form-group">
            <label for="meal">Meal(ဟင်းပွဲ)</label>
            <select #meal="ngModel" [(ngModel)]="ingredient.meal" name="meal" id="meal" class="form-control" required>
              <option value=""></option>
              <option *ngFor="let m of meals$ | async" [value]="m.name">
                {{ m.name }}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="meal.invalid && (meal.touched || meal.dirty)">
              Meal is required!
            </div>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image(ရုပ်ပုံ)</label>
            <input #imageUrl="ngModel" [(ngModel)]="ingredient.imageUrl" name="imageUrl" id="imageUrl" type="file"
              accept="image/*" class="form-control" (change)="showPreview($event)">
          </div>
          <button class="btn btn-primary" [disabled]="f.invalid">သိမ်းမည်</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <form #f="ngForm" (ngSubmit)="save(f.value)">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input #title="ngModel" [(ngModel)]="ingredient.title" name="title" id="title" type="text" placeholder="ingredient Title">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input #price="ngModel" [(ngModel)]="ingredient.price" name="price" id="price" type="number" placeholder="ingredient Price">
          </mat-form-field>
          <mat-form-field>
            <mat-label>ingredient Category</mat-label>
            <mat-select #category="ngModel" [(ngModel)]="ingredient.category" name="category" id="category">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let c of categories$ | async" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <label for="imageUrl">Image</label>
          <input #imageUrl="ngModel" [(ngModel)]="ingredient.imageUrl" name="imageUrl" id="imageUrl" type="file" accept="image/*" class="form-control">
          <button class="btn btn-primary">Save</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form> -->

<!-- <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <mat-card class="card">
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="save(f.value)" class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Title</mat-label>
              <input #title="ngModel" [(ngModel)]="ingredient.title" name="title" id="title" type="text" matInput
              formControlName="title" placeholder="Ex. Pizza" value="Sushi">
              <mat-error>
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Favorite food</mat-label>
              <input #price="ngModel" [(ngModel)]="ingredient.price" name="price" id="price" type="number" matInput
              formControlName="price">
              <mat-error>
                Price is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Category</mat-label>
              <mat-select #category="ngModel" [(ngModel)]="ingredient.category" name="category" id="category"
              formControlName="category">
              <mat-error>
                Category is <strong>required</strong>
              </mat-error>
                <mat-option *ngFor="let c of categories$ | async" [value]="c.id">
                  {{ c.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <label for="imageUrl">Image</label>
            <input #imageUrl="ngModel" [(ngModel)]="ingredient.imageUrl" name="imageUrl" id="imageUrl" type="file"
              accept="image/*" class="form-control" (change)="showPreview($event)" required>
            <button class="btn btn-primary">Save</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->
