<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">New Hope</span>
      <!-- <span class="welcome" *ngIf="appUser as user;">Welcome {{ user.name }}</span> -->
      <span class="nav-spacer"></span>
      <a routerLink="/shopping-cart" style="margin-right: 5px;">
        <mat-icon *ngIf="cart$ | async as cart" matBadge="{{ cart.totalItemsCount }}" matBadgeColor="warn">shopping_cart
        </mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <!-- <div class="profile-card">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
          <div class="header">
            <ng-template #unknownUser>
              <a *ngIf="!user" mat-button routerLink="/login" routerLinkActive="active-link">
                <mat-icon>
                  person_outliner
                </mat-icon>
                Login
              </a>
            </ng-template>
            <div *ngIf="appUser as user; else unknownUser">
              <h2>
                {{ user.name }}
              </h2>
              <h4>
                {{ user.email }}
              </h4>
            </div>
          </div>
        </div> -->

        <!-- <mat-divider></mat-divider> -->
        <div class="sidebar">
          <header>
            <i class="fas fa-home"></i>Hein Min Htet gfshsdhsghsh
          </header>
          <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
          </ul>
        </div>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/my/orders">My Orders</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders"
          *ngIf="showActions && isAdmin">Manage Orders</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/ingredients">Manage Ingredient</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/meals">Manage Meal</a>

        <mat-divider></mat-divider>

        <a mat-list-item (click)="logout()">
          <mat-icon>import_contacts</mat-icon>Log Out
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
