.btn-sm {
  padding: 10px 15px;
}

.btn-sm {
  font-size: 10px;
}

.btn-blue-fb {
  background-color: #4267b2;
  border-radius: 6px;
  border: 2px solid #4267b2;
  color: #f8f8f8;
}

.btn-blue-fb:hover {
  color: #fff;
}

.btn-blue-fb,
.btn-white {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.fw-100 {
  font-weight: 100;
}

.navbar-brand {
  color: #2CB54B;
  font-style: normal;
}
.navbar-brand:hover {
  color: #249e40;
}

.navbar-icon-top .navbar-nav .nav-link>.fas {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link>.fas>.badge-pill {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fas {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>.fas>.badge-pill {
  top: -10px;
}

a {
  text-decoration: none;
  background-color: transparent;
}


.fr.footer {
  flex: 0 1 40px;
}

.navbar {
  box-shadow: 0 -.3rem .3rem 0 rgba(224, 224, 224, 0.7) !important;
  padding: 0;
}

.navbar .nav-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .4rem .4rem;
  font-size: .8rem;
  color: #9c9c9c;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

.navbar .nav-hover:hover {
  background-color: #e5e5e5;
}

.navbar .active {
  text-decoration: none;
  color: #2CB54B;
}

.navbar .nav-item .fas {
  font-size: 1.5rem;
}
