<nav class="navbar navbar-expand navbar-light bg-light mb-3 fixed-top">
  <a class="navbar-brand" routerLink="/">New Hope</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/shopping-cart">
    <fa-icon [icon]="cartIcon"></fa-icon>
    <span class="badge badge-pill badge-warning" *ngIf="cart$ | async as cart">
      {{ cart.totalItemsCount }}
    </span>
  </a>
  <span class="nav-spacer"></span>
  <ul class="navbar-nav">
    <ng-template #unknownUser>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-template>
    <li class="nav-item" ngbDropdown *ngIf="appUser as user; else unknownUser">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
        {{ user.name }}
      </a>
      <div ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
        <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
        <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
        <a class="dropdown-item" routerLink="/admin/categories">Manage Categories</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Log Out</a>
      </div>
    </li>
  </ul>
</nav>

<div class="fr footer">
  <nav class="navbar fixed-bottom navbar-light bg-white nav-justified">
    <a id="nav-stats" class="nav-item" href="#"><i class="fas fa-chart-line"></i>
      <div class="text-center">အချက်အလက်</div>
    </a>
    <a id="nav-phone" class="nav-item " href="#"><i class="fas fa-phone"></i>
      <div class="text-center">ဖုန်းနံပါတ်</div>
    </a>
    <a id="nav-faq" class="nav-item " routerLinkActive="active" routerLink="/home">
      <fa-icon [icon]="quesIcon"></fa-icon>
      <div class="text-center">အမေးအဖြေ</div>
    </a>
    <a id="nav-news" class="nav-item " href="#"><i class="fas fa-newspaper"></i>
      <div class="text-center">သတင်း</div>
    </a>
  </nav>
</div>
